source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Data.TypeProviders
nuget FSharp.Charting
nuget FSharp.Charting.Gtk
nuget Suave
nuget DotLiquid
nuget Suave.DotLiquid
nuget Suave.Experimental
nuget NUnit
nuget NUnit.ConsoleRunner
nuget Foq
nuget FsUnit
nuget FsCheck
nuget Selenium.WebDriver
nuget canopy
nuget Akka.FSharp
nuget Akka.Remote
nuget FSPickler 2.4
